:root {
    --blue: #21A0D2;
    --blue-2: #004a96;
    --red: #c50022;
    --yellow: #65ac2e;
    --orange:#f39500;
    --green: #00793a;
    --white: #FFFFFF;
    --black-1: #333333;
    --grey-1: #E4E4E4;
    --grey-2: #808080;
    --grey-3: #F0F0F0;

    --wrap: 960px;
  
    --gap: 40px;
    --halfGap: 20px;
}