[class*="bf-icon"] {
  font-size: 20px;
  vertical-align: middle;
}

.bf-icon-search {
  height: 1.5em;
  width: 1.5em;
}

.bf-icon-arrow-r,
.bf-icon-arrow-r-circle,
.bf-icon-check,
.bf-icon-close,
.bf-icon-contact {
  height: 1em;
  width: 1em;
}

.bf-icon-arrow-b,
.bf-icon-arrow-l {
  width: 0.6em;
  height: 0.6em;
}

.bf-icon-release,
.bf-icon-solubilization,
.bf-icon-delivery,
.bf-icon-softgels,
.bf-icon-solutions,
.bf-icon-apis {
  height: 0.9em;
  width: 0.9em;
}

.bf-icon-arrow-r-circle {
  height: 0.9em;
  width: 0.9em;
}

.bf-icon-info {
  height: 1em;
  width: 1em;
}

.bf-icon-download,
.bf-icon-download-white {
  width: 0.9em;
  height: 0.9em;
}

.bf-icon-social-linkedin {
  height: 1.2em;
  width: 1.2em;
}

.bf-icon-social-twitter,
.bf-icon-social-youtube {
  height: 1.5em;
  width: 1.5em;
}